* {
  margin: 0px;
  padding: 0px;
}

:root {
  --blue-border: #004aad;
  --blue-hover: #0068f2;
  --color-font-white: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  text-transform: none;
  color: #000000;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 100%;
  margin-top: 1.3em;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 100%;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #ad0000;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 125%;
  margin-top: 0.737em;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  display: grid;
}

button {
  font-family: 'inter';
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

img {
  border: none;
}

.whatsContact {
  max-width: 75px;
  position: fixed;
  bottom: 3em;
  right: 1em;
  z-index: 2;
  cursor: pointer;
}

header {
  max-height: 679px;
  border-top: 8px solid var(--blue-border);
  border-bottom: 12rem solid var(--blue-border);
}

header p {
  margin-top: 1.17em;
}

.div-border {
  max-height: 600px;
  border-bottom: 11.2em solid rgba(0, 74, 173, 0.2);
}

header .container {
  grid-template-columns: 1fr 1fr;
  gap: 3.2em;
}

.header-div {
  padding-top: 3.2em;
}

.btn-header {
  margin-top: 2.7em;
}

.btn-header button {
  margin-right: 2em;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  padding: 0.8em 2.3em;
  border-radius: 3px;
}

.btn-a {
  margin-right: 2.5em;
  background: var(--blue-border);
  border: 3px solid var(--blue-border);
  color: var(--color-font-white);
}

.btn-a:hover {
  background: var(--blue-hover);
  border: 3px solid var(--blue-hover);
}

.btnContact {
  padding: 0.8em 0;
  background: var(--color-font-white);
  border: 3px solid #a9a9a9;
}

.btnContact {
  padding: 2em 3.3em;
  box-sizing: border-box;
}

.btnContact:hover {
  color: var(--color-font-white);
  background: #a9a9a9;
  border: 3px solid #a9a9a9;
}

.img-header {
  display: block;
  max-width: 100%;
  height: 679px;
  object-fit: cover;
  z-index: 1;
}
.img-headerMb {
  display: none;
}

.description {
  margin-top: 10.4em;
  grid-template-columns: 1fr 1fr;
  gap: 3.6em;
}

.description h2,
.description p,
.description button {
  grid-column: 1;
}

.description h2 {
  margin-bottom: 0.66em;
}

.description p:nth-child(1) {
  margin-top: 0;
}

.movie {
  padding-top: 2em;
  grid-column: 2;
  grid-row: 1;
}

iframe {
  border: none;
}

/*section about*/

.about {
  max-width: 1216px;
  margin: 17.2em auto 14.7em;
}

.aboutHeader {
  display: flex;
  justify-content: space-between;
}

.arrow button {
  padding: 0.67em;
  background: #ffffff;
}

.leftArrow {
  margin-right: 1.12em;
  transform: rotate(180deg);
}

.arrow button:hover {
  background: #e8e8e8;
  border: 2px solid rgba(0, 0, 0, 0.35);
  color: #737373;
}

.about h2 {
  margin-top: 0;
}

.slide-wraper {
  overflow: hidden;
}

.slideComements {
  display: flex;
}

.comments {
  flex-shrink: 0;
  max-width: 487px;
  margin-right: 3.3em;
  cursor: pointer;
}

.comments p {
  margin-top: 4.45em;
  line-height: 120%;
}

.comment-p {
  min-height: 336px;
}

.arrow img {
  background-color: #ffffff;
  border: none;
}

.comment-p:before {
  content: '‘‘';
  font-family: sans-serif;
  display: block;
  font-size: 9.6rem;
  color: #000000;
}

.member {
  display: flex;
  align-items: center;
  margin: 2.4em 0 3.9em;
}

.member h3 {
  white-space: nowrap;
}

.member p {
  margin: 0.4em 0 0;
  white-space: nowrap;
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  text-indent: -9999px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: #000000;
}

.formed {
  max-width: 100%;
  background: #3c3c3c;
  padding-bottom: 7.2em;
}

.imgMb {
  display: none;
}

.formed h2 {
  margin-top: 0;
  padding-top: 1.5em;
  text-align: center;
  color: var(--color-font-white);
}

.product-p {
  font-size: 3.2rem;
}

.formed p,
.student p {
  margin-top: 1.2em;
  text-align: center;
  color: var(--color-font-white);
}

.productSd h3 {
  margin-top: 0.5em;
}

.productSd p {
  max-width: 333px;
  color: #000000;
  text-align: left;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
}

.productSd img {
  object-fit: cover;
}

.productSd p:nth-child(5) {
  margin: 0.84em 0;
}
.productSd p:nth-child(6) {
  margin: 0 0 2em;
}

.product {
  grid-template-columns: 1fr 1fr;
  gap: 3.2em;
}

.productSd {
  display: flex;
  max-width: 592px;
  margin-top: 4.8em;
  background: var(--color-font-white);
}

.productContent {
  padding: 3.2em 2.7em 2.4em 2.4em;
}

.ico {
  padding-bottom: 3.2em;
}

.btn-Simul {
  margin-top: 2.4rem;
  padding: 1.2rem 3.2rem;
  border: none;
  background: #000000;
  color: var(--color-font-white);
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
}

.btn-Simul a {
  color: var(--color-font-white);
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
}

.btn-Simul:hover {
  background: #5a5a5a;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.student {
  max-width: 100%;
  background: var(--blue-border);
  padding-bottom: 7.2em;
}

.student h2 {
  margin-top: 0;
  padding-top: 1.5em;
  text-align: center;
  color: var(--color-font-white);
}
.accordion {
  max-width: 920px;
  padding: 11.4em 0 14.7em;
  margin: 0 auto;
}

.accordion h2 {
  margin-bottom: 1.23em;
  font-style: normal;
  font-weight: 900;
  font-size: 5.2rem;
  line-height: 100%;
  text-align: center;
}

dt {
  position: relative;
  padding: 1.5em 0;
  cursor: pointer;
  font-family: 'open sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: 0.125em;
  text-align: center;
}

dt:after {
  content: '';
  position: absolute;
  transform: translateX(-11px);
  background: #000000;
  top: 35%;
  right: 20px;
  height: 25px;
  width: 2px;
  animation: rotX 0.3s linear;
}

dt::before {
  content: '';
  position: absolute;
  background: #000000;
  top: 50%;
  right: 20px;
  height: 2px;
  width: 25px;
}

.answer {
  max-height: 0;
  margin: 0 auto;
  padding: 0 6em;
  text-align: center;
  border-bottom: 3px solid #000000;
  overflow: hidden;
}

.answer p {
  margin: 0;
  padding-bottom: 2em;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: #666666;
}

.answer {
  transition: max-height 0.5s ease-out;
}

.question::after,
.question::before {
  cursor: pointer;
}

.faq.activeDrop .answer {
  max-height: 800px;
  transition: max-height 1.5s linear;
}

.activeDrop .question::after {
  animation: rotY;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes rotY {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    right: 30px;
    transform: rotate(-90deg);
  }
}
@keyframes rotX {
  0% {
    opacity: 0;
    right: 30px;
    transform: rotate(-90deg);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.contact {
  max-width: 1216px;
  margin: 0 auto;
  padding-bottom: 12.4em;
}

.contact h2,
.contact p {
  text-align: center;
}

.contact h2 {
  margin-top: 0;
  font-size: 5.2rem;
}

.contact p {
  margin-top: 1.7em;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.05px;
}

.contact ul {
  margin-top: 6.47em;
}

.contact li {
  display: flex;
  align-items: center;
  margin-bottom: 1.78em;
}

.contact li p {
  margin: 0;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 150%;
  letter-spacing: 0.07px;
}

.contact li img {
  width: 42px;
  padding: 6px;
  margin-right: 1.2em;
  background: #000000;
  object-fit: contain;
  box-sizing: border-box;
}

.contact iframe {
  margin-top: 2.89em;
}

.midia {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.partner {
  padding: 3.2em 0;
  background: #002d69;
}

.bank h3 {
  padding-bottom: 1.1em;
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  color: var(--color-font-white);
}
.bank ul {
  width: 1214.19px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank li {
  margin: 0 1.6em;
}
footer {
  padding: 4.2em 0 3em;
  background: var(--blue-border);
}

.divFt {
  max-width: 1214.19px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logoFt img {
  max-width: 208px;
}

.logoFt p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.05px;
  color: var(--color-font-white);
}

.descFt a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2em;
  color: var(--color-font-white);
}

.descFt ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.descFt li {
  margin-bottom: 2.4em;
}

.descFt li:nth-child(even) {
  margin-left: 7em;
}

@media (min-width: 450px) and (max-width: 844px) {
  h1 {
    font-size: 4.8rem;
  }
  .whatsContact {
    max-width: 7.5em;
    right: 1.5em;
    bottom: 1.5em;
  }

  .header-div {
    padding: 0 2.4em;
  }

  .header-div img {
    margin-top: 1em;
  }

  header .container {
    grid-gap: 0px;
  }

  .btn-header {
    display: flex;
    margin-top: 2.4em;
    justify-content: space-between;
  }

  .btn-header button {
    padding: 0.8em 1.75em;
  }

  .btn-header button,
  .btn-header button:nth-child(1) {
    margin-right: 0.5em;
  }

  .img-header {
    max-width: 100%;
    object-fit: cover;
  }

  .img-headerMb {
    display: none;
  }
  .description {
    display: block;
    padding: 0 2.4em;
  }

  .description h2 {
    font-size: 3.8rem;
  }

  .movie {
    margin-top: 3.2em;
  }

  iframe {
    width: 100%;
    display: block;
  }

  .about {
    padding-left: 2.4em;
  }

  .arrow {
    display: none;
  }
  .formed,
  .student {
    padding: 0 2.4em 6.2em;
  }

  .imgProduct {
    display: none;
  }

  .imgMb {
    display: block;
    width: 100%;
  }

  .productSd {
    display: block;
    margin-top: 3.2em;
  }

  .product {
    grid-template-columns: 1fr 1fr;
  }

  .productContent {
    padding: 2.13em 2.4em 1.6em;
  }

  .productContent p:nth-child(5) {
    margin-bottom: 1em;
  }

  .ico {
    max-width: 26.67px;
    padding-bottom: 2.93em;
  }
  .accordion {
    padding: 10.5em 2.4em 8em;
  }

  .accordion h2 {
    margin-bottom: 0.95em;
    font-size: 4.2rem;
  }

  .accordion h2,
  .accordion dt {
    white-space: pre-line;
  }

  .accordion dt {
    padding-right: 1.8rem;
    text-align: left;
  }

  dt:after {
    content: '';
    position: absolute;
    transform: translateX(-11px);
    background: #000000;
    top: 30px;
    right: -4px;
    height: 16px;
    width: 2px;
  }

  dt::before {
    content: '';
    position: absolute;
    background: #000000;
    top: 37px;
    right: 0px;
    height: 2px;
    width: 16px;
  }

  .accordion dd {
    padding-left: 1em;
    text-align: left;
  }

  .question::after {
    animation: rotX 0.3s linear;
  }

  .activeDrop .question::after {
    animation-duration: 0.4s;
  }

  @keyframes rotY {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      right: 3px;
      transform: rotate(-90deg);
    }
  }
  @keyframes rotX {
    0% {
      opacity: 0;
      right: 3px;
      transform: rotate(-90deg);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .contact {
    padding: 0 2.4em 8em;
  }

  .midia ul {
    padding-right: 1.3em;
  }
  .partner {
    padding: 3.2em 2.4em;
  }

  .partner h3 {
    padding-bottom: 1.6em;
  }

  .bank ul {
    max-width: 342px;
    display: flex;
  }

  .bank li {
    margin: 0 1em;
  }

  .bank li img {
    width: 100px;
  }
  .divFt {
    padding: 0 2.4em;
  }

  .logoFt {
    display: block;
  }

  .logoFt p {
    display: none;
  }
}
/*cell*/

@media (max-width: 450px) {
  p {
    font-size: 1.6rem;
  }

  h1 {
    margin-top: 0.9em;
    font-size: 3.6rem;
  }

  h2 {
    text-align: center;
    font-size: 3.6rem;
  }

  .whatsContact {
    max-width: 5.5rem;
    bottom: 1em;
  }
  .div-border,
  header {
    max-height: 100%;
    border: none;
  }

  .header-div {
    padding: 0.5em 2.4em 0;
  }

  header .container {
    display: block;
  }

  .header-div img:nth-child(1) {
    margin-top: 0px;
    height: 43px;
    width: 86px;
  }

  .btn-header {
    margin-top: 2.4em;
    display: flex;
    justify-content: space-between;
  }

  .btn-header button {
    width: 160px;
    margin-right: 0px;
    padding: 0.8em 1.75em;
  }

  .btn-header button:nth-child(2) a {
    padding: 0.8em 1.75em;
    box-sizing: border-box;
  }

  .img-headerMb {
    width: 100%;
    display: block;
    margin-top: 3.2em;
  }

  picture img {
    width: 100%;
  }

  .img-header {
    display: none;
  }
  .description {
    height: 100%;
    display: block;
    padding: 0 2.4em;
  }

  .description h2 {
    text-align: left;
    font-size: 3.2em;
  }

  .movie {
    margin-top: 3.2em;
  }

  iframe {
    width: 100%;
    max-height: 208px;
    display: block;
  }

  /*about-MB*/

  .about {
    height: 575.5px;
    display: block;
    margin: 0;
    padding: 8em 0 0 2.4em;
  }

  .aboutHeader {
    max-width: 330px;
  }

  .arrow {
    display: none;
  }

  .comments,
  .comment-p {
    width: 292px;
  }

  .comment-p {
    min-height: 300px;
  }

  .comments span p {
    margin: 0;
    white-space: pre-line;
  }

  .comments p {
    font-size: 1.4rem;
  }

  .comments h3 {
    font-size: 2rem;
  }
  .formed,
  .student {
    padding: 0 2.4em 7.2em;
  }

  .imgProduct {
    display: none;
  }

  .imgMb {
    display: block;
    width: 100%;
  }

  .product-Mb {
    display: flex;
  }

  .productSd {
    display: block;
    margin-top: 3.2em;
  }

  .productSd h3 {
    margin-top: 0;
  }

  .productSd:nth-child(2) {
    margin-top: 0;
  }

  .product {
    grid-template-columns: 1fr;
  }

  .productContent {
    padding: 2.13em 2.4em 1.6em;
  }

  .productContent p:nth-child(5) {
    margin-bottom: 1em;
  }

  .ico {
    max-width: 26.67px;
    padding-right: 1.1em;
    padding-bottom: 2.93em;
  }
  .accordion {
    padding: 10.5em 2.4em 8em;
  }

  .accordion h2 {
    margin-bottom: 1em;
  }

  .accordion h2,
  .accordion dt {
    white-space: pre-line;
  }

  .accordion dt {
    padding-right: 1.125em;
    text-align: left;
  }

  dt:after {
    content: '';
    position: absolute;
    transform: translateX(-11px);
    background: #000000;
    top: 30px;
    right: -4px;
    height: 16px;
    width: 2px;
  }

  dt::before {
    content: '';
    position: absolute;
    background: #000000;
    top: 37px;
    right: 0px;
    height: 2px;
    width: 16px;
  }

  .answer {
    text-align: left;
  }

  .accordion dd {
    padding-left: 0;
  }

  .accordion dd p {
    padding-left: 1em;
  }

  .question::after {
    animation: rotX 0.5s linear;
  }

  .activeDrop .question::after {
    animation-duration: 0.4s;
  }

  .faq.activeDrop .answer {
    transition: max-height 0.6s linear;
  }

  @keyframes rotY {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      right: 3px;
      transform: rotate(-90deg);
    }
  }
  @keyframes rotX {
    0% {
      opacity: 0;
      right: 3px;
      transform: rotate(-90deg);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .contact {
    padding: 0 2.4em 8em;
  }

  .contact h2,
  .contact p {
    text-align: left;
  }

  .midia {
    display: block;
  }

  .midia ul {
    margin-top: 1.8em;
  }

  .contact picture img {
    margin-top: 0px;
  }
  .partner {
    padding: 3.2em 2.4em;
  }

  .partner h3 {
    padding-bottom: 1.2em;
    text-align: left;
  }

  .bank ul {
    width: 300px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.3em;
  }

  .bank li {
    margin: 0;
  }

  .bank li img {
    width: 72px;
  }
  footer {
    padding: 4em 2.3em;
  }

  .logoFt {
    display: block;
  }

  .logoFt img {
    display: block;
    max-width: 158px;
    margin-bottom: 2.4em;
  }

  .logoFt p {
    display: none;
  }

  .divFt,
  .descFt ul {
    display: block;
  }

  .descFt li a {
    font-weight: 500;
  }

  .descFt li:nth-child(even) {
    margin-left: 0;
  }
}
