.partner {
  padding: 3.2em 0;
  background: #002d69;
}

.bank h3 {
  padding-bottom: 1.1em;
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  color: var(--color-font-white);
}
.bank ul {
  width: 1214.19px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank li {
  margin: 0 1.6em;
}

/*Tablet*/
@media (min-width: 450px) and (max-width: 844px) {
  .partner {
    padding: 3.2em 2.4em;
  }

  .partner h3 {
    padding-bottom: 1.6em;
  }

  .bank ul {
    max-width: 342px;
    display: flex;
  }

  .bank li {
    margin: 0 1em;
  }

  .bank li img {
    width: 100px;
  }
}

@media (max-width: 450px) {
  .partner {
    padding: 3.2em 2.4em;
  }

  .partner h3 {
    padding-bottom: 1.2em;
    text-align: left;
  }

  .bank ul {
    width: 300px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.3em;
  }

  .bank li {
    margin: 0;
  }

  .bank li img {
    width: 72px;
  }
}
