.contact {
  max-width: 1216px;
  margin: 0 auto;
  padding-bottom: 12.4em;
}

.contact h2,
.contact p {
  text-align: center;
}

.contact h2 {
  margin-top: 0;
  font-size: 5.2rem;
}

.contact p {
  margin-top: 1.7em;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.05px;
}

.contact ul {
  margin-top: 6.47em;
}

.contact li {
  display: flex;
  align-items: center;
  margin-bottom: 1.78em;
}

.contact li p {
  margin: 0;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 150%;
  letter-spacing: 0.07px;
}

.contact li img {
  width: 42px;
  padding: 6px;
  margin-right: 1.2em;
  background: #000000;
  object-fit: contain;
  box-sizing: border-box;
}

.contact iframe {
  margin-top: 2.89em;
}

.midia {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

@media (min-width: 450px) and (max-width: 844px) {
  .contact {
    padding: 0 2.4em 8em;
  }

  .midia ul {
    padding-right: 1.3em;
  }
}

@media (max-width: 450px) {
  .contact {
    padding: 0 2.4em 8em;
  }

  .contact h2,
  .contact p {
    text-align: left;
  }

  .midia {
    display: block;
  }

  .midia ul {
    margin-top: 1.8em;
  }

  .contact picture img {
    margin-top: 0px;
  }
}
