* {
  margin: 0px;
  padding: 0px;
}

:root {
  --blue-border: #004aad;
  --blue-hover: #0068f2;
  --color-font-white: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  text-transform: none;
  color: #000000;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 100%;
  margin-top: 1.3em;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 100%;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #ad0000;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 125%;
  margin-top: 0.737em;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  display: grid;
}

button {
  font-family: 'inter';
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

img {
  border: none;
}

.whatsContact {
  max-width: 75px;
  position: fixed;
  bottom: 3em;
  right: 1em;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 450px) and (max-width: 844px) {
  h1 {
    font-size: 4.8rem;
  }
  .whatsContact {
    max-width: 7.5em;
    right: 1.5em;
    bottom: 1.5em;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 1.6rem;
  }

  h1 {
    margin-top: 0.9em;
    font-size: 3.6rem;
  }

  h2 {
    text-align: center;
    font-size: 3.6rem;
  }

  .whatsContact {
    max-width: 5.5rem;
    bottom: 1em;
  }
}
